@import 'semantic-ui';

.ui.form {
    .inline.fields {
        margin-bottom: 0;
    }
}

.ui.inverted.blue.menu.navbar {
  border-radius: 0;
  min-width: 800px;
}

.main.container {
  margin-top: 7em;
}
